* {
    background-color: #1c242a;
}

h1 {
    color: white;
    font-size: 345px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

h4 {
    color: white;
}

p {
    color: white;
}