* {
    background-color: #1c242a;
}

body {

    background-color: #1c242a;
}

h1 {
    color: white;
    font-size: 345px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

h4 {
    color: white;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
}

p {
    color: white;
}

.container {
    max-width: 1500px;
}

.navbar-brand {
    font-size: 2rem;
}